@import 'components.scss';
@import 'config.scss';

@font-face {
    font-family: 'Norwester', sans-serif;
    src: local('Norwester'), url('./fonts/norwester.otf') format('opentype');
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Avenir', sans-serif;
}

// NAVIGATION BAR
.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Avenir';
}

nav {
    position: sticky;
    li {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Avenir';
        a {
            color: black;
            margin-left: 2rem;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

#home-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $light-orange;
    }
}

#industry-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $dark-green;
    }
}

#academia-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $purple;
    }
}

#blog-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $light-green;
    }
}

#yoga-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $dark-orange;
    }
}

#home-hero {
    margin-top: 57px;
    min-height: 80vh;
    width: 100%;
    background-image: url('../img/home-hero.jpg');
    background-size: cover;

    h1 {
        font-family: 'Norwester';
        color: white;
    }

    p {
        color: white;
        font-size: 1.3rem;
    }
}

// HOME HERO SECTION
#home-layer {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    min-height: 80vh;
}

.about-card {
    box-shadow: -1px 9px 36px 6px rgb(235, 235, 235);
}

.renalis-link {
    color: $purple;
}

.studio-link {
    color: $dark-orange;
}

// CONTACT PAGE
.contact-form {
    margin-top: 200px;
    h1 {
        font-family: 'Norwester';
    }

    hr {
        background-color: black;
    }

    textarea {
        resize: none;
    }

    // Contact form submit button
    .submit-button {
        background-color: $purple;
        color: white;
        outline: none;
        border: 1px solid $purple;
        text-transform: uppercase;
        transition: 0.2s all ease-out;
        padding: 0.5rem;
        width: 100%;
        &:hover {
            background-color: white;
            color: $purple;
        }
    }
}

// BLOG HOME PAGE
.blog-container {
    margin-top: 100px;

    .blog-card {
        box-shadow: -1px 20px 28px -16px rgba(194, 194, 194, 1);
        .card-footer {
            background-color: $light-green;

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .read-more-btn {
            color: white;
            text-transform: uppercase;
            background-color: $light-orange;
            outline: none;
            border: none;
            border: 1px solid $light-orange;
            transition: 0.2s ease-out;
            &:hover {
                color: $light-orange;
                background-color: white;
            }
        }
    }

    .widgets-column {
        margin-top: 72px;

        .card-header {
            background-color: $light-orange;
            color: white;
        }
    }
}

.blog-category-link {
    color: $dark-green;
}

.blog-pagination {
    .page-item {
        margin-right: 0.5rem;
    }
    .blog-page-link {
        color: white;
        background-color: $dark-orange;
        transition: 0.2s ease-out;
        &:hover {
            background-color: $light-orange;
        }
    }
}
// BLOG POST
.author-link {
    color: $dark-green;
    transition: 0.2s ease-out;
    &:hover {
        color: $light-green;
    }
}
.submit-comment-btn {
    color: white;
    text-transform: uppercase;
    background-color: $dark-orange;
    outline: none;
    border: none;
    border: 1px solid $dark-orange;
    transition: 0.2s ease-out;
    &:hover {
        color: $dark-orange;
        background-color: white;
    }
}

// INDUSTRY PAGE
.industry-container {
    margin-top: 57px;
    min-height: 80vh;
    width: 100%;

    .industry-header {
        background: url('../img/industry-header.jpg') center/cover;
    }

    #industry-layer {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        min-height: 40vh;
        p {
            max-width: 800px;
        }
    }
}

.fa-circle {
    color: $light-orange;
}

.experience {
    width: 100%;
}

.timeline {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 40px 0;
    box-sizing: border-box;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 95%;
        background: gray;
        top: 3px;
    }

    ul {
        margin: 0;
        padding: 0;

        // timeline for teaching page
        .teaching-item {
            &:nth-child(odd) {
                &::before {
                    background: $purple;
                    box-shadow: 0 0 0 3px $purple;
                }
            }
            &:nth-child(even) {
                &::before {
                    background: $purple;
                }
            }
        }

        li {
            list-style: none;
            line-height: normal;
            position: relative;
            width: 50%;
            padding: 20px 40px;
            box-sizing: border-box;

            // items on the left
            &:nth-child(odd) {
                float: left;
                text-align: right;
                clear: both;

                // dot for item on the left
                &::before {
                    content: '';
                    position: absolute;
                    top: 24px;
                    right: -6px;
                    width: 10px;
                    height: 10px;
                    background: $dark-green;
                    border-radius: 50%;
                    box-shadow: 0 0 0 3px $dark-green;
                }
            }

            // items on the right
            &:nth-child(even) {
                float: right;
                text-align: left;
                clear: both;

                // dots for items on the right
                &::before {
                    content: '';
                    position: absolute;
                    top: 24px;
                    left: -6px;
                    width: 15px;
                    height: 15px;
                    background: $dark-green;
                    border-radius: 50%;
                }
            }

            .content {
                padding: 1rem 1rem 1rem 20px;
                border-radius: 15px;
                box-shadow: -1px 9px 36px 6px rgb(235, 235, 235);
            }

            h3 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                color: $dark-green;
            }

            .link {
                color: $dark-green;
            }

            // title for teaching section
            .teaching-title {
                color: $purple;
            }

            p {
                margin: 10px 0 0;
                padding: 0;
            }
        }
    }
}

// YOGA PAGE
#yoga-header {
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #ffcc70 0%,
        #c850c0 40%,
        #4158d0 100%
    );

    img {
        width: 300px;
        height: 300px;
        margin: 0;
        padding: 0;
    }
}

.page-content {
    .link {
        color: $dark-orange;
    }
}

// ACADEMIA PAGE
.academia-container {
    margin-top: 80px;

    .link {
        color: $purple;
    }
}

.card {
    box-shadow: -1px 9px 36px 6px rgba(235, 235, 235, 1);
    border: none;
}
.project-card {
    img {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 1024px) {
    // HOME
    #home-hero {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    // INDUSTRY PAGE
    .industry-container {
        .industry-header {
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
    .timeline {
        width: 100%;
    }
}

@media (max-width: 767px) {
    // INDUSTRY PAGE
    .timeline {
        width: 100%;
        padding-bottom: 0;

        &::before {
            left: 20px;
        }

        ul li:nth-child(odd),
        ul li:nth-child(even) {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
        }

        ul li:nth-child(odd)::before {
            left: 16px;
        }

        ul li:nth-child(even)::before {
            left: 14px;
        }
    }
}

@media (max-width: 425px) {
    // NAV BAR
    .logo {
        font-size: 1.2rem;
    }

    // HOME
    #home-hero {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
        }

        a {
            font-size: 1rem;
        }
    }

    #about-me {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    // ACADEMIA
    .academia-container {
        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }

        #current-projects {
            font-size: 3rem;
        }

        #publications {
            h1 {
                font-size: 2rem;
            }
        }
    }

    // INDUSTRY PAGE
    .industry-container {
        .industry-header {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    // BLOG PAGE
    .blog-container {
        #page-title {
            font-size: 2rem;
        }

        .card-title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 350px) {
    // NAV BAR
    .logo {
        font-size: 1rem;
    }
    // HOME
    #home-hero {
        h1 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.8rem;
        }

        a {
            font-size: 0.9rem;
            width: 150px;
        }
    }

    // ACADEMIA
    .academia-container {
        #current-projects {
            font-size: 2rem;
        }
    }

    // INDUSTRY PAGE
    .industry-container {
        .industry-header {
            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    // BLOG PAGE
    .blog-container {
        #page-title {
            font-size: 1.8rem;
        }

        .card-title {
            font-size: 1.2rem;
        }
    }
}
