@import 'components.scss';
@import 'config.scss';

@font-face {
    font-family: 'Norwester', sans-serif;
    src: local('Norwester'), url('./fonts/norwester.otf') format('opentype');
}

* {
    font-family: 'Avenir', sans-serif;
}

// NAVIGATION BAR
.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Avenir';
}

nav {
    position: sticky;
    li {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Avenir';
        a {
            color: black;
            margin-left: 2rem;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

#home-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $light-orange;
    }
}

#industry-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $dark-green;
    }
}

#research-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $purple;
    }
}

#blog-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $light-green;
    }
}

#yoga-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $dark-orange;
    }
}

#home-hero {
    margin-top: 62px;
    min-height: 80vh;
    width: 100%;
    background-image: url('../img/home-hero.jpg');
    background-size: cover;

    h1 {
        font-family: 'Norwester';
        color: white;
    }

    p {
        color: white;
        font-size: 1.3rem;
    }
}

// HOME HERO SECTION
#layer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 80vh;
}

// HOME ABOUT SECTION
.about-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-cards-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.about-card {
    overflow: hidden;
    min-height: 30vh;
}

// CONTACT PAGE
.contact-form {
    margin-top: 200px;
    h1 {
        font-family: 'Norwester';
    }

    hr {
        background-color: black;
    }

    textarea {
        resize: none;
    }

    // Contact form submit button
    .submit-button {
        background-color: $purple;
        color: white;
        outline: none;
        border: 1px solid $purple;
        text-transform: uppercase;
        transition: 0.2s all ease-out;
        padding: 0.5rem;
        width: 100%;
        &:hover {
            background-color: white;
            color: $purple;
        }
    }
}

// BLOG HOME PAGE
.blog-container {
    margin-top: 100px;

    .blog-card {
        box-shadow: -1px 20px 28px -16px rgba(194, 194, 194, 1);
        .card-footer {
            background-color: $light-green;

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .read-more-btn {
            color: white;
            text-transform: uppercase;
            background-color: $light-orange;
            outline: none;
            border: none;
            border: 1px solid $light-orange;
            transition: 0.2s ease-out;
            &:hover {
                color: $light-orange;
                background-color: white;
            }
        }
    }

    .widgets-column {
        margin-top: 72px;

        .card-header {
            background-color: $light-orange;
            color: white;
        }
    }
}

.blog-category-link {
    color: $dark-green;
}

.blog-pagination {
    .page-item {
        margin-right: 0.5rem;
    }
    .blog-page-link {
        color: white;
        background-color: $dark-orange;
        transition: 0.2s ease-out;
        &:hover {
            background-color: $light-orange;
        }
    }
}
// BLOG POST
.author-link {
    color: $dark-green;
    transition: 0.2s ease-out;
    &:hover {
        color: $light-green;
    }
}
.submit-comment-btn {
    color: white;
    text-transform: uppercase;
    background-color: $dark-orange;
    outline: none;
    border: none;
    border: 1px solid $dark-orange;
    transition: 0.2s ease-out;
    &:hover {
        color: $dark-orange;
        background-color: white;
    }
}

// INDUSTRY PAGE
.industry-container {
    margin-top: 63px;

    .jumbotron {
        p {
            max-width: 500px;
        }
    }
}

.fa-circle {
    color: $light-orange;
}

.timeline-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;

    .timeline-title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5rem;
    }

    .timeline {
        width: 80%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;

        ul {
            list-style: none;

            li {
                padding: 20px;
                background-color: rgb(235, 235, 235);
                color: white;
                border-radius: 10px;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .timeline-content {
            h1 {
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 10px;
                color: black;
            }

            p {
                font-size: 16px;
                line-height: 30px;
                font-weight: 300;
                color: black;
            }

            .date {
                color: $dark-orange;
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 10px;
                letter-spacing: 2px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .timeline {
        .timeline-content {
            .date {
                position: absolute;
                top: -30px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background-color: gray;
        }

        ul {
            li {
                width: 50%;
                position: relative;
                margin-bottom: 50px;

                &::before {
                    content: '';
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: $dark-green;
                    top: 0px;
                    transition: 0.2s ease-out;
                    border: 3px solid $dark-orange;
                }

                &:hover::before {
                    border: 3px solid $light-orange;
                    background-color: $light-green;
                }
                &:nth-child(odd) {
                    float: left;
                    clear: right;
                    transform: translateX(-30px);
                    border-radius: 20px 0px 20px 20px;

                    &::before {
                        transform: translate(50%, -50%);
                        right: -30px;
                    }
                }

                &:nth-child(even) {
                    float: right;
                    clear: left;
                    transform: translateX(30px);
                    border-radius: 0px 20px 20px 20px;

                    &::before {
                        transform: translate(-50%, -50%);
                        left: -30px;
                    }
                }
            }
        }
    }
}
