@import 'components.scss';
@import 'config.scss';

@font-face {
    font-family: 'Norwester', sans-serif;
    src: local('Norwester'), url('./fonts/norwester.otf') format('opentype');
}

* {
    font-family: 'Avenir', sans-serif;
}

// NAVIGATION BAR
.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Avenir';
}

nav {
    position: sticky;
    li {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Avenir';
        a {
            color: black;
            margin-left: 2rem;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

#home-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $light-orange;
    }
}

#industry-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $dark-green;
    }
}

#academia-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $purple;
    }
}

#blog-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $light-green;
    }
}

#yoga-link {
    transition: 0.2s all ease-out;

    &:hover {
        color: $dark-orange;
    }
}

#home-hero {
    margin-top: 62px;
    min-height: 80vh;
    width: 100%;
    background-image: url('../img/home-hero.jpg');
    background-size: cover;

    h1 {
        font-family: 'Norwester';
        color: white;
    }

    p {
        color: white;
        font-size: 1.3rem;
    }
}

// HOME HERO SECTION
#layer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 80vh;
}

// HOME ABOUT SECTION
.about-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-cards-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.about-card {
    overflow: hidden;
    min-height: 30vh;
}

// CONTACT PAGE
.contact-form {
    margin-top: 200px;
    h1 {
        font-family: 'Norwester';
    }

    hr {
        background-color: black;
    }

    textarea {
        resize: none;
    }

    // Contact form submit button
    .submit-button {
        background-color: $purple;
        color: white;
        outline: none;
        border: 1px solid $purple;
        text-transform: uppercase;
        transition: 0.2s all ease-out;
        padding: 0.5rem;
        width: 100%;
        &:hover {
            background-color: white;
            color: $purple;
        }
    }
}

// BLOG HOME PAGE
.blog-container {
    margin-top: 100px;

    .blog-card {
        box-shadow: -1px 20px 28px -16px rgba(194, 194, 194, 1);
        .card-footer {
            background-color: $light-green;

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .read-more-btn {
            color: white;
            text-transform: uppercase;
            background-color: $light-orange;
            outline: none;
            border: none;
            border: 1px solid $light-orange;
            transition: 0.2s ease-out;
            &:hover {
                color: $light-orange;
                background-color: white;
            }
        }
    }

    .widgets-column {
        margin-top: 72px;

        .card-header {
            background-color: $light-orange;
            color: white;
        }
    }
}

.blog-category-link {
    color: $dark-green;
}

.blog-pagination {
    .page-item {
        margin-right: 0.5rem;
    }
    .blog-page-link {
        color: white;
        background-color: $dark-orange;
        transition: 0.2s ease-out;
        &:hover {
            background-color: $light-orange;
        }
    }
}
// BLOG POST
.author-link {
    color: $dark-green;
    transition: 0.2s ease-out;
    &:hover {
        color: $light-green;
    }
}
.submit-comment-btn {
    color: white;
    text-transform: uppercase;
    background-color: $dark-orange;
    outline: none;
    border: none;
    border: 1px solid $dark-orange;
    transition: 0.2s ease-out;
    &:hover {
        color: $dark-orange;
        background-color: white;
    }
}

// INDUSTRY PAGE
.industry-container {
    margin-top: 63px;

    .jumbotron {
        p {
            max-width: 500px;
        }
    }
}

.fa-circle {
    color: $light-orange;
}

.projects {
    width: 100%;
}

.timeline {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 40px 0;
    box-sizing: border-box;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 95%;
        background: gray;
        top: 3px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            line-height: normal;
            position: relative;
            width: 50%;
            padding: 20px 40px;
            box-sizing: border-box;

            // items on the left
            &:nth-child(odd) {
                float: left;
                text-align: right;
                clear: both;

                // dot for item on the left
                &::before {
                    content: '';
                    position: absolute;
                    top: 24px;
                    right: -6px;
                    width: 10px;
                    height: 10px;
                    background: $light-orange;
                    border-radius: 50%;
                    box-shadow: 0 0 0 3px $light-orange;
                }

                .time {
                    position: absolute;
                    top: 12px;
                    right: -180px;
                    margin: 0;
                    padding: 8px 16px;
                    background: $light-orange;
                    border-radius: 20px;
                }
            }

            // items on the right
            &:nth-child(even) {
                float: right;
                text-align: left;
                clear: both;

                // dots for items on the right
                &::before {
                    content: '';
                    position: absolute;
                    top: 24px;
                    left: -6px;
                    width: 15px;
                    height: 15px;
                    background: $light-orange;
                    border-radius: 50%;
                }

                .time {
                    position: absolute;
                    top: 12px;
                    left: -180px;
                    margin: 0;
                    padding: 8px 16px;
                    background: $light-orange;
                    border-radius: 20px;
                    box-shadow: 0 0 0 3px $light-orange;
                }
            }

            h3 {
                margin: 0;
                padding: 0;
                font-weight: bold;
            }

            p {
                margin: 10px 0 0;
                padding: 0;
            }

            .time h4 {
                font-size: 1rem;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.content {
    padding-bottom: 20px;
}

@media (max-width: 1000px) {
    .timeline {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;

        &::before {
            left: 20px;
        }

        ul li:nth-child(odd),
        ul li:nth-child(even) {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;

            .time {
                top: -30px;
                left: 50px;
                right: inherit;
            }
        }

        ul li:nth-child(odd)::before {
            top: -18px;
            left: 16px;
        }

        ul li:nth-child(even)::before {
            top: -18px;
            left: 14px;
        }
    }
}

@media (max-width: 425px) {
    // NAV BAR
    .logo {
        font-size: 1.2rem;
    }

    // HOME
    #home-hero {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
        }

        a {
            font-size: 1rem;
        }
    }

    #about-me {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    // ACADEMIA
    .academia-container {
        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }

        #current-projects {
            font-size: 3rem;
        }

        #publications {
            h1 {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 350px) {
    // NAV BAR
    .logo {
        font-size: 1rem;
    }
    // HOME
    #home-hero {
        h1 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.8rem;
        }

        a {
            font-size: 0.9rem;
            width: 150px;
        }
    }

    // ACADEMIA
    .academia-container {
        #current-projects {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.2rem;
        }
    }
}

// ACADEMIA PAGE
.academia-container {
    margin-top: 80px;
}

#publications {
    #publication-item {
        box-shadow: -1px 9px 36px 6px rgba(237, 237, 237, 1);
    }
}
